#loading {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background: #2c2e2f;
    z-index: 10000;
    -webkit-perspective: 10000;
    -moz-perspective: 10000;
    perspective: 10000;
    -webkit-perspective: 10000px;
    -moz-perspective: 10000px;
    perspective: 10000px;
    zoom: 1;
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition: all 800ms ease-in-out;
    -moz-transition: all 800ms ease-in-out;
    -o-transition: all 800ms ease-in-out;
    transition: all 800ms ease-in-out;
}
#loading-image {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: rgba(255,255,255,0.75) !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    height: 22px;
    line-height: 22px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    background-color: #5c90d2 !important;
    border: none;
    border-radius: 3px;
}
input[placeholder] { width: 100% !important; }
.auth{
    background-color: #2c2e2f !important;
}
.dataTables_filter{
    display: none;
}
.dataTables_length{
    display: none;
}
.v-center {
    vertical-align: middle !important;
}
/*ventas y POS */
.productos_pos .unidad {
    width: 20%;
    float: left;
    position: relative;
    max-height: 167px;
    border: solid #ccc 1px;

}

.productos_pos {
    min-height: 460px;
}

.ticket {

}

.badge-right {
    position: absolute;
    right: 5%;
    top: 5%;
}

.badge-left {
    position: absolute;
    right: 5%;
    top: 18%;
}

.label-bottom {
    position: absolute;
    right: 5%;
    bottom: 15%;
}

.separador {
    background-color: #ccc;
    height: 1px;
}

.productos {
    min-height: 170px;
}

.producto {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px;
    display: flex;
}

.producto img {

}

.producto .info {

}

.producto .nombre {

    position: relative;
    text-align: right;
    border: 0px;
    float: right;
    font-size: small;
    max-width: 90%;

}

.producto .precio {
    float: right;
    position: relative;
    text-align: right;
    font-size: 1.3em;
    text-decoration: wavy;
    max-width: 50%;
    border: 0px;
}


.producto .cantidad {
    float: right;
    position: relative;
    text-align: right;
    font-size: 1.3em;
    text-decoration: wavy;
    width: 40px;
    border: 0px;
}

.texto {
    display: block !important;
}

.totales td {
    font-size: 1.3em;
    border-bottom: dotted 1px #ccc;
}

.totales table {
    padding-bottom: 10px;
}

.totales .left {
    float: left;
}

.totales .right {
    float: right;
}

.totales .total {
    background: transparent;
    border: 0;
    font-size: 1.4em;
    width: 90%;

}

.pago {
    border: 0;
    width: 100%;
    text-align: right;
    background-color: transparent;;
}

.page-title {
    display: none;
}

.cash {
    width: 45% !important;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    margin: 4px;
    text-align: center;
    padding: 9% 9% 2% 9%;
}

.cash-icon {
    margin: auto;
    color: #fff;
}

.visa, .master, .amex, .efectivo, .diners, .contra {
    height: 45px;
    width: 75px;
    background-image: url("../img/money.png");
    background-repeat: no-repeat;
    display: block;
}

.visa {
    background-position: -112px -437px;
}

.master {
    background-position: -112px -256px;
}

.amex {
    background-position: -112px -196px;
}

.diners {
    background-position: -112px -616px;
}

.efectivo {
    background-position: -112px -1036px;
}

.contra {
    background-position: -112px -796px;
}

.pagos-item {
    min-height: 150px;
    border: 1px solid #eee;
}

.pagos-table > tbody > tr > td {
    padding: 15px 8px;
}

.pagos-table > tbody > tr {
    border-radius: 5px;
}

.totales-pago {

    font-size: 1.3em;
}

.buscador {
    padding: 10px;
}